body{
    background-image: url(img1.png);
    background-position: 100%;
    background-size: cover;
    height: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.container2{
    border: 5px solid rgb(0, 14, 145);
    border-radius: 90px;
    height: 380px;
    margin-top: 180px;
    width: 380px;
    padding: 50px 40px;
    display: flex;
    justify-content: center;
    background-color: white;
}

.input-box, p{
    margin-bottom: auto;
    ;
}
input{
    border: 0.5px solid black;
    border-radius: 20px;
}